# Type checkers and linters
black==24.4.2            
flake8==7.1.0            
flake8-noqa==1.4.0       
flake8-pyi==24.6.0       
mypy==1.10.1
pre-commit-hooks==4.6.0  
pyright==1.1.373
pytype==2024.4.11; platform_system != "Windows" and python_version < "3.12"
ruff==0.5.4              

# Libraries used by our scripts
aiohttp==3.9.5
packaging==24.1
pathspec>=0.11.1
pre-commit
stubdefaulter==0.1.0
termcolor>=2.3
tomli==2.0.1
tomlkit==0.13.0
typing_extensions>=4.12.0rc1
uv==0.2.27  

# Dependencies for Streamlit spam classifier
streamlit==1.30.0
scikit-learn==1.4.0
nltk==3.8.1
pickle5==0.0.12
numpy==1.26.4
pandas==2.2.0
